.carouselSection {
  position: relative;
  margin-top: 70px;
  margin-bottom: 70px;

  &>.contentWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .carouselTitle {
    font-size: 24px;
    color: white;
    font-weight: normal;
  }
}

// .homePage {
//   position: relative;
// }

.carousel-opacity-layer {
  width: 100%;
  height: 150px;
  // background: linear-gradient(180deg, rgba(105, 10, 10, 0.755) 0%,
  background: linear-gradient(180deg, rgba(105, 10, 10),
        rgba(4, 21, 45, 0));
  // background: linear-gradient(180deg, #04152d, white);
  position: absolute;
  // bottom: 0;
  left: 0;
  // top: 0;
}
